<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day14_基本类型包装类/src/cn/edu360/IntegerDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.edu360.IntegerDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day14_基本类型包装类"/>
</launchConfiguration>
