html body,html h1,html h2,html h3,html h4,html h5,html h6,html hr,html p,html blockquote,html dl,html dt,html dd,html ul,html ol,html li,html pre,html form,html fieldset,html legend,html button,html input,html textarea,html th,html td
	{
	margin: 0;
	padding: 0;
}

html body,html button,html input,html select,html textarea {
	font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

html h1,html h2,html h3,html h4,html h5,html h6 {
	font-size: 100%;
}

html address,html cite,html dfn,html em,html var {
	font-style: normal;
}

html code,html kbd,html pre,html samp {
	font-family: couriernew, courier, monospace;
}

html small {
	font-size: 12px;
}

html ul,html ol {
	list-style: none;
}

html a {
	text-decoration: none;
}

html a:hover {
	text-decoration: underline;
}

html sup {
	vertical-align: text-top;
}

html sub {
	vertical-align: text-bottom;
}

html legend {
	color: #000;
}

html fieldset,html img {
	border: 0;
}

html button,html input,html select,html textarea {
	font-size: 100%;
}

html table {
	border-collapse: collapse;
	border-spacing: 0;
}


#head_hot_goods_wrap {
	width: 1226px;
	margin: 0 auto;
	color: #424242;
}

#head_hot_goods_wrap #head_hot_goods_title {
	width: 1226px;
	height: 60px;
	line-height: 60px;
}

#head_hot_goods_wrap #head_hot_goods_title .title_span {
	font-size: 25px;
	font-weight: 100;
}

#head_hot_goods_wrap #head_hot_goods_title #head_hot_goods_change {
	width: 102px;
	height: 25px;
	float: right;
	margin-top: 20px;
	border: 1px solid #F0F0F0;
	color: #BEBEBE;
	line-height: 25px;
	text-align: center;
}

#head_hot_goods_wrap #head_hot_goods_title #head_hot_goods_change #head_hot_goods_prave
	{
	width: 50px;
	height: 25px;
	float: left;
	font-size: 20px;
	border-right: 1px solid #F0F0F0;
	cursor: pointer;
}

#head_hot_goods_wrap #head_hot_goods_title #head_hot_goods_change #head_hot_goods_next
	{
	width: 50px;
	height: 25px;
	float: right;
	font-size: 20px;
	border-right: 1px solid #F0F0F0;
	cursor: pointer;
}

#head_hot_goods_wrap #head_hot_goods_content {
	width: 1226px;
	height: 345px;
	overflow: hidden;
	position: relative;
}

#head_hot_goods_wrap #head_hot_goods_content ul {
	width: 2500px;
	height: 300px;
	position: absolute;
	left: 0px;
	overflow: hidden;
	transition: all 3s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
}

#head_hot_goods_wrap #head_hot_goods_content ul li {
	width: 237px;
	height: 300px;
	padding-top: 20px;
	margin-right: 10px;
	background: #fafafa;
	float: left;
	text-align: center;
	border-top: 1px solid #FF6700;
}

#head_hot_goods_wrap #head_hot_goods_content ul li a {
	display: block;
}

#head_hot_goods_wrap #head_hot_goods_content ul li a:hover {
	text-decoration: none;
	cursor: pointer;
}

#head_hot_goods_wrap #head_hot_goods_content ul li a:nth-child(2) {
	margin: 15px auto;
	font-size: 13px;
	color: #333;
}

#head_hot_goods_wrap #head_hot_goods_content ul li a:nth-child(3) {
	font-size: 12px;
	color: #B0B0B0;
}


